#root {
  position: relative;
}

.main {
  padding-bottom: 50px;
  margin: 0;
}

.header {
  height: 50px;
  font-size: 16px;
  background-color: #e9ecef;

  & > .nav {
    height: 100%;
    align-content: center;
  }
}
